body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.numbers {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
    align-items: center;
    justify-content: center;
}

.numbers button {
    border: none;
    border-radius: 3px;
    width: 100px;
    height: 100px;
    font: inherit;
    font-size: 34px;
    outline: none;
    cursor: pointer;
    margin: 5px;
    background-color: #f1c40f;
    color: #fff;
}

.gameOptions {
    width: 90%;
    max-width: 300px;
    background-color: grey;
    border: 1px solid;
    border-radius: 10px;
    margin: 100px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    justify-content: space-around;
}

.gameOptions div {
    cursor: pointer;
    user-select: none;
    background-color: lightblue;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    color: white;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
}
.startButton {
  margin-top: 0;
}

.message {
    margin: 50px auto 0 auto;
    max-width: 500px;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    text-align: center;
    
}

.theClock {
    display: flex;
    justify-content: space-around;
    width: 400px;
    background-color: grey;
    border: 2px solid;
    border-radius: 10px;
}

